$primary-color: #ddc96c;
$primary-light-color: #f1e9c5;
$accent-color: #ea4b60;

$mono-lighter-color: #f8f8f8;
$mono-light-color: #f2f2f2;
$mono-color: #ddd;
$mono-dark-color: #999;
$mono-darker-color: #333;

$breakpoint: 750px;
