$primary-color: #ddc96c;
$primary-light-color: #fffcef;
$accent-color: #ea4b60;

$mono-lighter-color: #fcfcfc;
$mono-light-color: #f2f2f2;
$mono-color: #e1e1e1;
// $mono-dark-color
$mono-darker-color: #333;
